<main>
  <div class="vessel">
    {{ input value=imdbId }}
    <button name="button" {{action 'createRecord'}}>Create Record</button>
    <hr>
    <ul id="movies">
      {{#each}}
        {{partial 'movie'}}
      {{/each}}
    </ul>
  </div>
</main>
